<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
    <title>Statistika 6.G</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <h1 class="text-center">Statistika 6.G</h1>
    <h2 class="text-center">2017 - 2023</h2>

    <h3 class="text-center">Souhrn</h3>
    <div class="d-flex align-items-center justify-content-center">
        <ul>
            <li>První zpráva: úterý 19. září 2017 21:38:56 (Lukáš vychodil)</li>
            <li>Celkový počet zpráv: 72 268</li>
            <li>Počet odeslaných slov: 323 377</li>
            <li>Počet odeslaných obrázků: 8 661</li>
            <li>Počet odeslaných videí: 414</li>
            <li>Nejaktivnější den: 23. května 2019 (484 zpráv)</li>
        </ul>
    </div>

    <h3 class="text-center">Posílání zprav</h3>
    <div class="d-flex align-items-center justify-content-center">
        {{ who_html|safe }}
    </div>

    <h3 class="text-center">Nejaktivnějších 10</h3>
    <div class="d-flex align-items-center justify-content-center">
        {{ proportional_html|safe }}
    </div>

    <h3 class="text-center">Co si nejčastěji posíláme?</h3>
    <div class="d-flex align-items-center justify-content-center">
        {{ how_html|safe }}
    </div>

    <h3 class="text-center">Kdy posíláme?</h3>
    <div class="d-flex align-items-center justify-content-center">
        {{ when_html|safe }}
    </div>

    <h3 class="text-center">O čem si píšeme?</h3>
    <div class="d-flex align-items-center justify-content-center">
        {{ what_html|safe }}
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>